body {
    width: 372;
    height: 620;
}

.beanBody{
    width: 326;
    height: 297;
    background-color: #5C5C5C;
}
.grid-container {
    display: grid;
    background-color: #2196F3;
    gap: 25px;
    grid-template-columns: auto auto auto;
}

.grid-item {
    background-color: #4cff00;
}